<!--[features]="['bg', 'road', 'building', 'poi']"-->

<ngx-amap
  class="map"
  [style.height.px]="800"
  [center]="$any([121.47, 31.23])"
  [zoom]="13"
  [keyboardEnable]="false"
  (ready)="onMapReady($any($event))"
  #amap
>
  <ng-container
    *ngIf="
      (isShowTransferStation || isShowFactory) && temp$ | async as data;
      else normal
    "
  >
    <ng-container *ngIf="isShowTransferStation">
      <ng-container *ngFor="let datum of data">
        <amap-polyline
          [path]="datum.transferStation.path"
          [borderWeight]="3"
          [lineJoin]="'round'"
          [strokeWeight]="5"
          [strokeOpacity]="0.5"
          [strokeColor]="'#3366FF'"
          [strokeStyle]="'solid'"
        ></amap-polyline>
        <amap-marker
          [position]="datum.transferStation.path[0]"
          [title]="datum.name"
          [icon]="homeIcon"
        ></amap-marker>
        <amap-marker
          [position]="
            datum.transferStation.path[datum.transferStation.path.length - 1]
          "
          [title]="datum.transferStation.name"
          [icon]="transferIcon"
        ></amap-marker>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isShowFactory">
      <ng-container *ngFor="let datum of data">
        <amap-polyline
          [path]="datum.factory.path"
          [borderWeight]="3"
          [lineJoin]="'round'"
          [strokeOpacity]="0.5"
          [strokeWeight]="5"
          [strokeColor]="'red'"
          [strokeStyle]="'solid'"
        ></amap-polyline>
        <amap-marker
          [position]="
            datum.transferStation.path[datum.transferStation.path.length - 1]
          "
          [title]="datum.transferStation.name"
          [icon]="transferIcon"
        ></amap-marker>
        <amap-marker
          [position]="datum.factory.path[datum.factory.path.length - 2]"
          [title]="datum.factory.name"
          [icon]="factoryIcon"
        ></amap-marker>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #normal>
    <amap-polyline
      [path]="pathToTransferStation"
      [borderWeight]="3"
      [lineJoin]="'round'"
      [strokeWeight]="5"
      [outlineColor]="'red'"
      (mouseOver)="onLineHover($event, 'mouseover')"
      (mouseOut)="onLineHover($event, 'mouseout')"
      (polylineClick)="onLineClick(categoryControl.value)"
    ></amap-polyline>
    <amap-polyline
      [path]="pathToFactory"
      [strokeColor]="isLineHovering ? '#3366FF' : '#000000'"
      [lineJoin]="'round'"
      [outlineColor]="'red'"
      [borderWeight]="3"
      [strokeWeight]="5"
      (mouseOver)="onLineHover($event, 'mouseover')"
      (mouseOut)="onLineHover($event, 'mouseout')"
      (polylineClick)="onLineClick(categoryControl.value)"
    ></amap-polyline>
    <amap-marker
      *ngIf="pathToTransferStation"
      [position]="pathToTransferStation[0]"
      [title]="selectedPoi.name"
      [icon]="homeIcon"
    ></amap-marker>
    <amap-marker
      *ngIf="pathToTransferStation"
      [position]="pathToTransferStation[pathToTransferStation.length - 1]"
      [title]="dest.transferStation.name"
      [icon]="transferIcon"
    ></amap-marker>
    <amap-marker
      *ngIf="pathToFactory"
      [position]="pathToFactory[pathToFactory.length - 1]"
      [title]="dest.factory.name"
      [icon]="factoryIcon"
    ></amap-marker>
  </ng-template>
</ngx-amap>
<mat-expansion-panel id="searchPanel" cdkDragBoundry=".amap-layer" cdkDrag>
  <mat-expansion-panel-header>
    侬晓得哇？
  </mat-expansion-panel-header>

  <mat-vertical-stepper [linear]="true">
    <mat-step
      #stepLocation
      label="step1"
      state="location"
      [completed]="(isPlaceSearchComplete$ | async) && addressControl.valid"
    >
      <ng-template matStepLabel>输入起始位置</ng-template>

      <mat-form-field>
        <input
          matInput
          [formControl]="addressControl"
          type="text"
          placeholder="请输入地址"
          required
        />
      </mat-form-field>

      <div>
        <button
          mat-button
          (click)="applyPlaceSearch(addressControl.value)"
          [disabled]="isPlaceSearchPending || addressControl.invalid"
        >
          搜索
        </button>
        <button
          mat-button
          matStepperNext
          [disabled]="
            isPlaceSearchPending ||
            !(isPlaceSearchComplete$ | async) ||
            addressControl.invalid
          "
        >
          下一步
        </button>
      </div>
    </mat-step>
    <mat-step
      label="step2"
      state="category"
      [completed]="isDriveNaviComplete$ | async"
    >
      <ng-template matStepLabel>选择垃圾类型</ng-template>
      <mat-form-field class="selector">
        <mat-label>分类</mat-label>
        <mat-select [formControl]="categoryControl">
          <mat-option
            *ngFor="let cate of wasteCategories; let i = index"
            [value]="cate"
          >
            {{ wasteCategroiesName[i] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>
    <ng-template matStepperIcon="location">
      <mat-icon>location_on</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="category">
      <mat-icon>receipt</mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</mat-expansion-panel>
