<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">侬晓得哇？</a>
      <a mat-list-item disabled href="#">Series 2</a>
      <a mat-list-item disabled href="#">Series 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>上海市垃圾流通网络</span>
      <span class="fill-space"></span>
      <nav *ngIf="!(isHandset$ | async)" mat-tab-nav-bar>
        <button mat-button [mat-menu-trigger-for]="sankeyMenu">
          显示桑基图
        </button>
        <mat-menu #sankeyMenu="matMenu" yPosition="below">
          <button
            *ngFor="let cate of wasteCategroies"
            (click)="openSankeyDialog(cate)"
            mat-menu-item
          >
            {{ names[cate] }}
          </button>
        </mat-menu>
        <button mat-button [mat-menu-trigger-for]="networkMenu">
          显示网络图
        </button>
        <mat-menu #networkMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="amap.showTrans()">
            切换中转站显示
          </button>
          <button mat-menu-item (click)="amap.showFactory()">
            切换处理厂显示
          </button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <app-amap-container #amap class="map-container"> </app-amap-container>
  </mat-sidenav-content>
</mat-sidenav-container>
