<h2 mat-dialog-title>垃圾分类，侬晓得哇？({{categroy}})</h2>
<mat-dialog-content class="mat-typography text-card">
  <h3>第一步：垃圾装包回收</h3>
  <p>
    当干垃圾分类回收袋被填满，市民通过微信或电话预约免费上门收取垃圾服务。11：30回收员在预约规定时间内，到达居民家中，对垃圾袋中的垃圾进行称重。并按每公斤0.8元环保金的奖励实时奖励到居民微信环保账户里。自此，一袋垃圾的旅程正式开启。
  </p>
  <h3>第二步：垃圾打包、称重带走</h3>
  <p>
    回收员到达居民家中，将装包垃圾进行打包、称重后，装进干垃圾专用回收车中。每袋回收垃圾相应的环保金到账后，居民能在线下合作便利店和线上商城进行消费，1元环保金=1元人民币。虽然每公斤垃圾相当于0.8元人民币，不过张大爷介绍，日积月累下来，一年差不多能通过这些“卖出去”的垃圾兑换到价值约500元人民币的日用品。
  </p>
  <h3>第三步：用垃圾回收所得兑换消费品</h3>
  <p>
    在与“爱分类”合作的商店中，用环保金进行消费。13：45专门运输厨余的湿垃圾车和运输其余垃圾的垃圾车装运完毕，离开社区、街道，开始分别送往后端处理厂。
  </p>
  <h3>
    第四步：运输
  </h3>
  <p>
    专用运输车分类运输垃圾。14：00专用运输车到达分拣中心，这些生活垃圾在这里被细分为50多个种类。仅塑料制品就能被分为十几种，已经淡出我们生活的磁带或光碟，都能在这里集合，被成堆堆放在一起。
  </p>
  <h3>
    第五步：分拣
  </h3>
  <p>
    分拣垃圾，再次打包。到这为止，一袋垃圾旅程算是初步终结，因为到达分拣中心后，每家每户的垃圾无法再进行追溯。从居民家回收的垃圾袋上带有二维码，记录着这袋垃圾的出发地点与重量，而当它们被全部倾倒在分拣平台上，你家的塑料瓶和我家的塑料瓶就没法分出“你我”了，除非在它们未上分拣台前，还能通过二维码查询，知道每袋垃圾的“主人”。次日7：00被精细分类好的垃圾分别被运往填埋场、焚烧厂和再生加工厂进行处理或再利用。部分垃圾会重新化作塑料、衣物、纸张再度回到我们手中。
  </p>
</mat-dialog-content>
